:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #687280;
    --light: #EEE;
    --pink: #347772;
    --purple: #9a4c9a;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
    }
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
        }
.logo{
    width: 200px;
    margin: 20px;
    max-width:fit-content;
    margin-left: 45%;
    /* align-self: flex-end; */
    }
header{
        padding: 2rem 1rem;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
header h1{
    font-size: 3.65rem;
    font-weight: 800;
    color: var(--gray);
    margin-bottom: 1rem;
    /* margin-top: 5rem; */
}

#new-task-form{
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    }

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.75rem;
    }
#new-task-input::placeholder {
    color: var(--gray);
    }

#new-task-submit {
    color: var(--pink);
    font-size: 2rem;
    font-weight: 800;
    background-image: linear-gradient(to right, var(--pink),
    var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    }
#new-task-submit:hover {
    opacity: 0.8;
}
#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    }
.task-list {
    padding: 1rem;
    }

.task-list h2{
    font-size: 2.50rem;
    font-weight: 800;
    color: var(--gray);
    margin-bottom: 1rem;
    } 

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    }
#tasks .task .content {
    flex: 1 1 0%;
}
#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
    }
#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
    }
.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink),
    var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
.task .actions .delete{
    color: crimson;
    }